2Yj1qa79KzjeWyeQ-Updated-Primary-Personal-Assistant-2.0.json
{
  "name": "Updated Primary Personal Assistant 2.0",
  "nodes": [
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "078df723-e65e-40a2-8df6-31af3499bb2c",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -380,
        220
      ],
      "credentials": {
        "openAiApi": {
          "id": "webm6X6S2oOvWVex",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "sample",
          "mode": "list",
          "cachedResultName": "sample"
        },
        "options": {
          "pineconeNamespace": "demo"
        }
      },
      "id": "b6904238-07a6-42b1-a952-53e13799d312",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        540,
        380
      ],
      "credentials": {
        "pineconeApi": {
          "id": "rb6s5V66sQTmRCdd",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "ac294f9d-db48-4941-ba4a-a402c8b9e8db",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        800,
        380
      ],
      "credentials": {
        "openAiApi": {
          "id": "webm6X6S2oOvWVex",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "81eed4e1-f00b-42fc-ba95-c49580e1808b",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        540,
        520
      ],
      "credentials": {
        "openAiApi": {
          "id": "webm6X6S2oOvWVex",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "name": "Knowledge_Base",
        "description": "Call this tool to get information about the company."
      },
      "id": "35338bc5-c3c1-4adb-af80-cf5ff1b3151a",
      "name": "Knowledge Base",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        540,
        220
      ]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Call this tool to get contact data like email address or phone number",
        "documentId": {
          "__rl": true,
          "value": "19MEAwqL6LOhB9VNXW8TSDTBd1U8s0L77uWHpIhRieEA",
          "mode": "list",
          "cachedResultName": "Contact Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19MEAwqL6LOhB9VNXW8TSDTBd1U8s0L77uWHpIhRieEA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19MEAwqL6LOhB9VNXW8TSDTBd1U8s0L77uWHpIhRieEA/edit#gid=0"
        },
        "options": {}
      },
      "id": "e894666c-c746-4fb3-bef2-e6ab3e8473df",
      "name": "Contacts Data",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        -240,
        220
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Sa7Y98iFWIb4fDUY",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "name": "Calendar_Agent",
        "description": "Call this tool to take actions within Calendar",
        "workflowId": {
          "__rl": true,
          "value": "ESUVWlUiZwpv1NCV",
          "mode": "list",
          "cachedResultName": "Personal Assistant Agent — Personal Assistant | Calendar Agent"
        }
      },
      "id": "701b8cbf-ed2a-4473-a700-1a8d3b6d722e",
      "name": "🤖Calendar_Agent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        140,
        220
      ]
    },
    {
      "parameters": {
        "name": "Research_Agent",
        "description": "Call this tool to search through Wikipedia, articles, or google to answer the user's question.",
        "workflowId": {
          "__rl": true,
          "value": "Kl3sNKSQpQBU5nsH",
          "mode": "list",
          "cachedResultName": "Personal Assistant Agent — Personal Assistant_Research Agent"
        }
      },
      "id": "5cdae9a6-f60e-4581-b68f-f57d169185ff",
      "name": "🤖Research_Agent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        280,
        220
      ]
    },
    {
      "parameters": {
        "name": "Projects_Agent",
        "description": "Call this tool to take action on our projects.",
        "workflowId": {
          "__rl": true,
          "value": "bsd4kUe4OWJwA6d0",
          "mode": "list",
          "cachedResultName": "Personal Assistant Agent — Personal Assistant | Projects Agent"
        }
      },
      "id": "74397989-eb91-499e-9a00-91b2319fc604",
      "name": "🤖Projects_Agent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        420,
        220
      ]
    },
    {
      "parameters": {
        "name": "Email_Agent",
        "description": "Call this tool to take any email actions",
        "workflowId": {
          "__rl": true,
          "value": "MqWOruhlSvxHMwcr",
          "mode": "list",
          "cachedResultName": "Personal Assistant Agent — Personal Assistant | Email Agent"
        }
      },
      "id": "32623ee9-d806-4648-860e-bfb04ef82d95",
      "name": "🤖___Email_Agent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        -40,
        220
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "da44ddec-d167-49b6-b65a-9bfe2b0fd9e5",
      "name": "Respond to Me",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        420,
        -40
      ],
      "credentials": {
        "telegramApi": {
          "id": "gk9VU5xHjhzncxPA",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "60c0c627-78b5-4753-8e27-de18b6afa276",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -60,
        -40
      ],
      "webhookId": "2194a6b2-2302-4406-9c8c-207161b7eb22",
      "credentials": {
        "telegramApi": {
          "id": "gk9VU5xHjhzncxPA",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {},
      "id": "db708cbb-110c-4952-b353-6b7f5fab0580",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        800,
        220
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are a personal assistant AI Agent designed to handle various tasks efficiently. Your primary role is to manage contacts, emails, and calendar events for the user. You have access to three tools to help you fulfill requests:\n\nContacts Data: Use this when you need to look up contact information like an email address. You need to use this tool BEFORE sending an email or BEFORE getting emails or if the user does not include the email address in their request.\n\nEmail Agent: Use this for handling all email-related actions, like sending messages, setting up replies, or forwarding emails.\n\nCalendar Agent: Use this for scheduling, updating, or managing calendar events.\n\nSend Slack Message: Use this to send a message in Slack.\n\nProjects_Agent: Use this tool to access our projects. We can update our projects of get information on our projects.\n\nWhen a task requires using one or more of these tools, make sure to identify which tool is most appropriate, pass along the relevant details, and execute the actions needed to complete the task. Your goal is to be proactive, precise, and organized in managing these resources to provide a smooth experience for the user.\n\nHere is the current time/date: {{ $now.format('DD')}}"
        }
      },
      "id": "7f9c6c83-5a40-46b5-8e74-5367403f666b",
      "name": "Personal Assistant",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        100,
        -40
      ],
      "retryOnFail": false
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Knowledge Base",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Knowledge Base",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Contacts Data": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "🤖Calendar_Agent": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "🤖Research_Agent": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "🤖Projects_Agent": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "🤖___Email_Agent": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Personal Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Personal Assistant": {
      "main": [
        [
          {
            "node": "Respond to Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}