hNO3aqoixBHX7lV4-RECRUITMENT-SUPER-AGENT.json
{
  "name": "RECRUITMENT SUPER AGENT",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "fe407339-778a-4f04-a23c-3bc27f40cbab",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# CONTENT\n\n{{ $json.content }}\n\n# CONTEXT (if any exists)\n\n{{ $json.context }}\n",
        "options": {
          "systemMessage": "={{ $json.prompt }}",
          "maxIterations": 1,
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        620,
        0
      ],
      "id": "fbe7d013-ceb4-4069-8138-13443bc8c698",
      "name": "RECRUITING",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3-mini-2025-01-31",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        560,
        180
      ],
      "id": "84503bef-1193-4b21-b469-22db250ff934",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "appw1MudPpHUFnJ7E",
          "mode": "list",
          "cachedResultName": "Recruiting STUDIO",
          "cachedResultUrl": "https://airtable.com/appw1MudPpHUFnJ7E"
        },
        "table": {
          "__rl": true,
          "value": "tblZm1l8JcQqucrjz",
          "mode": "list",
          "cachedResultName": "playbook",
          "cachedResultUrl": "https://airtable.com/appw1MudPpHUFnJ7E/tblZm1l8JcQqucrjz"
        },
        "id": "={{ $json.promptId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        200,
        0
      ],
      "id": "84010d59-7a8c-41fb-bdf7-2a6842fa90d9",
      "name": "get prompt",
      "credentials": {
        "airtableTokenApi": {
          "id": "BG1Ur1KjqGJyHsQw",
          "name": "Airtable Personal Access Token account 13"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cdf32776-baeb-45a6-b23e-da2f0daccd48",
              "name": "content",
              "value": "={{ JSON.stringify($('When Executed by Another Workflow').item.json.content, null, 2) }}",
              "type": "string"
            },
            {
              "id": "a674ce23-0f6a-45c8-9cf2-b4ef2739cf3d",
              "name": "context",
              "value": "={{ $json.context }}null",
              "type": "string"
            },
            {
              "id": "6ea76d10-9ebc-4f53-bebb-e29cfcd1fc6c",
              "name": "prompt",
              "value": "={{ $json.prompt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        0
      ],
      "id": "7f507e41-bce0-4e29-b03a-75aaf51c813a",
      "name": "set content, context, and prompt"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "XBvMNYkKzVwGoXVK",
          "mode": "list",
          "cachedResultName": "i-Community Team — ⚫️ activityLog (recruiting demo)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1160,
        0
      ],
      "id": "c891cfbb-7084-4cb4-8f5d-ae649912ff6f",
      "name": "activityLog"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e33077ea-a593-4b22-899c-420f9bac9bd3",
              "name": "agent",
              "value": "=RECRUITING AGENT",
              "type": "string"
            },
            {
              "id": "fa90819e-28a3-40d2-b81d-a603b8a5eecd",
              "name": "output",
              "value": "={{ $json.output }}{{ $json.error }}",
              "type": "string"
            },
            {
              "id": "5091481b-a4de-41f0-ad8b-607d244cc780",
              "name": "intermediateSteps",
              "value": "={{ $json.intermediateSteps ? $json.intermediateSteps.toJsonString() : \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1000,
        0
      ],
      "id": "7315b647-70c1-441e-92b5-fd5c276a595c",
      "name": "set log details"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Call this tool to respond back to the user in Slack.",
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08FQNVE1T4",
          "mode": "list",
          "cachedResultName": "demo-recruiting"
        },
        "text": "={{ $fromAI('message') }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slackTool",
      "typeVersion": 2.3,
      "position": [
        760,
        260
      ],
      "id": "be0fada6-cfc2-413c-9272-a3500b84b4f8",
      "name": "Send Message",
      "webhookId": "a7a8a3ab-26ee-4b0c-80b1-a564d0717b83"
    },
    {
      "parameters": {
        "name": "profile_sourcing",
        "description": "Call this tool to source linkedin profiles.",
        "workflowId": {
          "__rl": true,
          "value": "CcJ6OcPr9p0YLF0K",
          "mode": "list",
          "cachedResultName": "i-Community Team — 🛠️ profile sourcing (recruiting demo) copy"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        900,
        260
      ],
      "id": "f101ca39-c2c5-4e02-80d5-83ce5491bb9e",
      "name": "profile sourcing"
    },
    {
      "parameters": {
        "name": "email_agent",
        "description": "Call this tool to execute email actions like sending an email, drafting an email, marking an email as read, etc. This tool WILL NOT generate content. You MUST generate the content. This tool will ONLY execute your email actions. ",
        "workflowId": {
          "__rl": true,
          "value": "7rTZ6CgceZgePDpC",
          "mode": "list",
          "cachedResultName": "i-Community Team — 🤖 gmail agent (recruiting demo) copy"
        },
        "fields": {
          "values": [
            {
              "name": "content",
              "type": "objectValue",
              "objectValue": "={{ $json.content }}"
            },
            {
              "name": "context",
              "type": "objectValue",
              "objectValue": "={{ $json.context }}"
            }
          ]
        },
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"required\": [\"action\"],\n  \"properties\": {\n    \"action\": {\n      \"type\": \"string\",\n      \"note\": \"Provide the action to perform, such as 'Create a draft' or 'Send an email'.\",\n      \"value\": \"Create a draft\"\n    },\n    \"parameters\": {\n      \"type\": \"object\",\n      \"note\": \"Provide the necessary details for the email action.\",\n      \"properties\": {\n        \"senderEmailAddress\": {\n          \"type\": \"string\",\n          \"note\": \"The email address of the sender.\",\n          \"value\": \"sender@example.com\"\n        },\n        \"recipientEmailAddress\": {\n          \"type\": \"string\",\n          \"note\": \"The recipient's email addresses, separated by commas if multiple.\",\n          \"value\": \"recipient1@example.com,recipient2@example.com\"\n        },\n        \"ccRecipientEmailAddress\": {\n          \"type\": \"string\",\n          \"note\": \"CC email addresses, separated by commas if multiple.\",\n          \"value\": \"cc@example.com\"\n        },\n        \"bccRecipientEmailAddress\": {\n          \"type\": \"string\",\n          \"note\": \"BCC email addresses, separated by commas if multiple.\",\n          \"value\": \"bcc@example.com\"\n        },\n        \"subject\": {\n          \"type\": \"string\",\n          \"note\": \"The subject of the email.\",\n          \"value\": \"Meeting Follow-Up\"\n        },\n        \"body\": {\n          \"type\": \"string\",\n          \"note\": \"The content of the email.\",\n          \"value\": \"Hi Team,\\n\\nThank you for attending the meeting. Here are the action items:\\n\\n1. Follow up on the project.\\n2. Schedule the next meeting.\\n\\nBest regards,\\nJohn\"\n        },\n        \"messageId\": {\n          \"type\": \"string\",\n          \"note\": \"The ID of the message (useful for replying or forwarding).\",\n          \"value\": \"12345abcdef\"\n        },\n        \"labelId\": {\n          \"type\": \"string\",\n          \"note\": \"The ID of the label to associate with the message.\",\n          \"value\": \"label_001\"\n        },\n        \"replyToSenderOnly\": {\n          \"type\": \"boolean\",\n          \"note\": \"Set to true if replying only to the sender.\",\n          \"value\": true\n        },\n        \"search\": {\n          \"type\": \"string\",\n          \"note\": \"A search query for finding messages.\",\n          \"value\": \"project updates\"\n        },\n        \"readStatus\": {\n          \"type\": \"string\",\n          \"note\": \"The read status of the email ('unread', 'read', or 'both').\",\n          \"value\": \"unread\"\n        },\n        \"receivedAfter\": {\n          \"type\": \"string\",\n          \"note\": \"Filter emails received after this date (ISO 8601 format).\",\n          \"value\": \"2024-01-01T00:00:00Z\"\n        },\n        \"receivedBefore\": {\n          \"type\": \"string\",\n          \"note\": \"Filter emails received before this date (ISO 8601 format).\",\n          \"value\": \"2024-12-31T23:59:59Z\"\n        },\n        \"senderName\": {\n          \"type\": \"string\",\n          \"note\": \"The name of the sender.\",\n          \"value\": \"John Doe\"\n        },\n        \"newLabelName\": {\n          \"type\": \"string\",\n          \"note\": \"The name of the new label to create.\",\n          \"value\": \"Important\"\n        },\n        \"threadId\": {\n          \"type\": \"string\",\n          \"note\": \"The ID of the email thread.\",\n          \"value\": \"thread_001\"\n        },\n        \"draftId\": {\n          \"type\": \"string\",\n          \"note\": \"The ID of the draft.\",\n          \"value\": \"draft_123\"\n        },\n        \"maxResults\": {\n          \"type\": \"integer\",\n          \"note\": \"The maximum number of messages to retrieve (limit: 50).\",\n          \"value\": 10,\n          \"maximum\": 50\n        }\n      }\n    }\n  }\n}\n"
      },
      "id": "f2f4164d-2d76-4f50-ba40-62b12596c7a8",
      "name": "EMAIL AGENT",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        1040,
        260
      ]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "get prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RECRUITING",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "get prompt": {
      "main": [
        [
          {
            "node": "set content, context, and prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set content, context, and prompt": {
      "main": [
        [
          {
            "node": "RECRUITING",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RECRUITING": {
      "main": [
        [
          {
            "node": "set log details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "set log details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set log details": {
      "main": [
        [
          {
            "node": "activityLog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Message": {
      "ai_tool": [
        [
          {
            "node": "RECRUITING",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "profile sourcing": {
      "ai_tool": [
        [
          {
            "node": "RECRUITING",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "EMAIL AGENT": {
      "ai_tool": [
        [
          {
            "node": "RECRUITING",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": null
}