KFVmbZ0s55DDlKPQ-My-workflow-25.json
{
  "name": "My workflow 25",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "2e1557a6-4f39-4fc4-a2e0-4faefcf78f51",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.query.DocumentID }}",
        "simple": false
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        220,
        120
      ],
      "id": "d61395bf-d8ff-47f8-8fba-f3a977455075",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "w4xhrfJqVl4mZO4X",
          "name": "Google Docs account 4"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a64c03b4-1d85-4385-ad78-bf87a7939526",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -20,
        220
      ],
      "id": "36686b28-5c6b-407d-b0e9-5babec7b5975",
      "name": "Webhook",
      "webhookId": "a64c03b4-1d85-4385-ad78-bf87a7939526"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        120
      ],
      "id": "7395d571-37a6-4b0f-bf1f-2aba3acb57fc",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}