pplMIgjpRHW06Tk4-🤖-Routing-Agent.json
{
  "name": "🤖 Routing Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=\n# CONTENT\n\n{{ JSON.stringify($('set name & description').first().json.content, null, 2) }}\n\n# PLAYBOOK\n\n{{ JSON.stringify($json.data, null, 2) }}",
        "options": {
          "systemMessage": "=\nYour primary objective is to analyze the incoming messages and identify which 'prompt' makes the most sense to run.\n\nFor context, your assistant will follow the instructions in the prompt. It is your job to passthrough the correct instructions ('prompt') to your assistant. \n\nYou and your assistant work for the Recruiting Team for our company. Your assistant handles tasks like candidate sourcing, interview scheduling, candidate screening, and database management. \n\n# WORKFLOW STEPS\n\n1. Analyze the incoming data.\n2. Review your 'playbook' and determine which prompt makes the most sense run. \n3. Output the 'recordId' of the prompt that needs to run. \n4. End workflow. \n\n# OUTPUT REQUIREMENTS\n\n- Only output the recordId. DO NOT OUTPUT ANYTHING ELSE.\n- DO NOT add quotes or spaces, only output the id.",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -380,
        220
      ],
      "id": "5b712ef7-2b14-4554-9353-6dab8043246f",
      "name": "routingAgent",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -420,
        440
      ],
      "id": "b2780355-34d1-4dc1-8cc7-0acf51624b35",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "F1ADt4ppMu25aKEx",
          "name": "Google Gemini(PaLM) Api account 12"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appHuUo6uOB5cuw0U",
          "mode": "list",
          "cachedResultName": "Recruitment Super Agent",
          "cachedResultUrl": "https://airtable.com/appHuUo6uOB5cuw0U"
        },
        "table": {
          "__rl": true,
          "value": "tblDb9kfqcjtGN2b4",
          "mode": "list",
          "cachedResultName": "playbook (roadmap)",
          "cachedResultUrl": "https://airtable.com/appHuUo6uOB5cuw0U/tblDb9kfqcjtGN2b4"
        },
        "options": {
          "fields": [
            "name",
            "description",
            "recordId"
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1040,
        220
      ],
      "id": "69eabd3f-b5c0-456e-8b11-6a8239aeb00d",
      "name": "get playbook",
      "credentials": {
        "airtableTokenApi": {
          "id": "BG1Ur1KjqGJyHsQw",
          "name": "Airtable Personal Access Token account 13"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "UuNX986pUl9V0u64",
          "mode": "list",
          "cachedResultName": "i-Community Team — 🤖 RECRUITING AGENT (demo v.2) [community]"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        220,
        0
      ],
      "id": "635c225b-851f-465c-ae12-8bd3936c6c43",
      "name": "RECRUITING AGENT (demo)"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1260,
        220
      ],
      "id": "ce8479be-e956-4171-b035-93a797a036fd",
      "name": "new event"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "specifiedFields",
        "fieldsToInclude": "recordId, name, description",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -600,
        220
      ],
      "id": "5069a06f-cbc1-454e-965f-ca8e1fefe919",
      "name": "aggregate playbook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b367ce41-2160-4e90-bd75-47b6c87410c9",
              "name": "recordId",
              "value": "={{ $json.recordId }}",
              "type": "string"
            },
            {
              "id": "9fc6c5cb-c4a0-4111-93cf-b52b2af7a12e",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "ff90d3ad-eb51-48b3-a9e6-7283bffe1898",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "35462096-908a-42e5-909d-cf31c34ea517",
              "name": "content",
              "value": "={{ $('new event').item.json.content }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -820,
        220
      ],
      "id": "202d492b-a367-42b6-acf1-95437c298f85",
      "name": "set name & description"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39ff3b4f-4653-43b8-9a9a-3fb1fd4bc6a6",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "a8b2ac81-1904-46bd-b967-0ca84e8e4828",
              "name": "intermediateSteps",
              "value": "={{ $json.intermediateSteps }}",
              "type": "array"
            },
            {
              "id": "27c01ce0-d673-4a7b-bb89-8b2674fb7e9a",
              "name": "agent",
              "value": "=ROUTING AGENT",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        220
      ],
      "id": "a4f303c9-d57a-4fac-a848-7f3b5ab97ae7",
      "name": "set log values"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "XBvMNYkKzVwGoXVK",
          "mode": "list",
          "cachedResultName": "i-Community Team — ⚫️ activityLog (recruiting demo) copy"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        220,
        220
      ],
      "id": "817ffd6f-8265-42df-a205-e7d62760fdea",
      "name": "activityLog"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ef266047-a346-48b0-b3de-538f1ed44dd1",
              "name": "promptId",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "9089b5cf-af9f-4aca-8b63-b389e3da6531",
              "name": "content",
              "value": "={{ $('set name & description').first().json.content }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "ab32af9f-93c2-4f75-9d4d-34ed35d256f4",
      "name": "set promptId & content"
    }
  ],
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "routingAgent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "get playbook": {
      "main": [
        [
          {
            "node": "set name & description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "routingAgent": {
      "main": [
        [
          {
            "node": "set promptId & content",
            "type": "main",
            "index": 0
          },
          {
            "node": "set log values",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "set log values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "new event": {
      "main": [
        [
          {
            "node": "get playbook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aggregate playbook": {
      "main": [
        [
          {
            "node": "routingAgent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set name & description": {
      "main": [
        [
          {
            "node": "aggregate playbook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set log values": {
      "main": [
        [
          {
            "node": "activityLog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set promptId & content": {
      "main": [
        [
          {
            "node": "RECRUITING AGENT (demo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}