UYAvx4m41WFJgV0l-Pinecone-Database-for-RAG.json
{
  "name": "Pinecone Database for RAG",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        520,
        -300
      ],
      "id": "73c0ff49-33c5-46da-8f83-78177df7a216",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "96GfJPuBZEU7zHm1",
          "name": "Google Drive account 12"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "database",
          "mode": "list",
          "cachedResultName": "database"
        },
        "options": {
          "pineconeNamespace": "Project Context"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        820,
        -300
      ],
      "id": "9330bca0-1845-4ee2-a0e9-9dad181f2c42",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "s6wO6iPTelWLjPbJ",
          "name": "PineconeApi account 11"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        700,
        -80
      ],
      "id": "4d724499-b3d0-4e0a-bb25-35307994b83b",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "QKJbufZJLSro13qy",
          "name": "OpenAi account 8"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        960,
        -80
      ],
      "id": "89d134b1-9d54-4f6f-b0c9-f0d3f7fe4007",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        820,
        200
      ],
      "id": "c5f1ad29-07c1-4464-a060-94eaf6f15c85",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "*/30 * * * *"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1EhuelzmE1-opdvp1TXOVYsDrnBNbds1u",
          "mode": "list",
          "cachedResultName": "Fireflies Meetings",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1EhuelzmE1-opdvp1TXOVYsDrnBNbds1u"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        160,
        -300
      ],
      "id": "a97bcb0b-a535-429e-91a4-dc18aa95ba4e",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "96GfJPuBZEU7zHm1",
          "name": "Google Drive account 12"
        }
      }
    }
  ],
  "connections": {
    "Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}